<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" th:href="@{/css/adminDashboard.css}" />
    <link rel="stylesheet" th:href="@{/css/addproduct.css}" />

    <title>AdminHub</title>
  </head>

  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="/admin/home" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">AdminHub</span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="/admin/home">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/products">
            <i class="bx bxs-plus-square"></i>
            <span class="text">products</span>
          </a>
        </li>
        <li>
          <a href="/admin/addUser">
            <i class="bx bxs-user-plus"></i>
            <span class="text">Add Users</span>
          </a>
        </li>
        <li>
          <a href="/admin/controlPages">
            <i class="bx bx-current-location"></i>
            <span class="text">Control Page</span>
          </a>
        </li>
        <li>
          <a href="/admin/viewUsers">
            <i class="bx bxs-group"></i>
            <span class="text">View Users</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button type="submit" class="search-btn">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">products</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="table-data">
          <div class="order">
            <div class="head">
              <a href="/admin/products">cancel</a>
            </div>
            <div class="form-section">
              <h3>Add Product</h3>
              <form
                method="post"
                th:object="${productDto}"
                enctype="multipart/form-data"
              >
                <div>
                  <label for="productName">Name</label>
                  <input
                    type="text"
                    id="productName"
                    th:field="${productDto.name}"
                  />
                  <p
                    th:if="${#fields.hasErrors('name')}"
                    class="text-danger"
                    th:errors="${productDto.name}"
                  ></p>
                </div>

                <div>
                  <label for="productBrand">Brand</label>
                  <input
                    type="text"
                    id="productBrand"
                    th:field="${productDto.brand}"
                  />
                  <p
                    th:if="${#fields.hasErrors('brand')}"
                    class="text-danger"
                    th:errors="${productDto.brand}"
                  ></p>
                </div>

                <div>
                  <label for="productCategory">Category</label>
                  <select
                    id="productCategory"
                    th:field="${productDto.category}"
                  >
                    <option value="other">Other</option>
                    <option value="phone">Phone</option>
                    <!-- Add more options here -->
                  </select>
                  <p
                    th:if="${#fields.hasErrors('category')}"
                    class="text-danger"
                    th:errors="${productDto.category}"
                  ></p>
                </div>

                <div>
                  <label for="productQuantity">Quantity</label>
                  <input
                    type="number"
                    id="productQuantity"
                    th:field="${productDto.quantity}"
                  />
                  <p
                    th:if="${#fields.hasErrors('quantity')}"
                    class="text-danger"
                    th:errors="${productDto.quantity}"
                  ></p>
                </div>

                <div>
                  <label for="productDescription">Description</label>
                  <input
                    type="text"
                    id="productDescription"
                    th:field="${productDto.description}"
                  />
                  <p
                    th:if="${#fields.hasErrors('description')}"
                    class="text-danger"
                    th:errors="${productDto.description}"
                  ></p>
                </div>

                <div>
                  <label for="productPrice">Price</label>
                  <input
                    type="text"
                    id="productPrice"
                    th:field="${productDto.price}"
                  />
                  <p
                    th:if="${#fields.hasErrors('price')}"
                    class="text-danger"
                    th:errors="${productDto.price}"
                  ></p>
                </div>

                <div>
                  <label for="companiesDiscount">Companies Discount</label>
                  <input
                    type="text"
                    id="companiesDiscount"
                    th:field="${productDto.companiesDiscount}"
                  />
                  <p
                    th:if="${#fields.hasErrors('companiesDiscount')}"
                    class="text-danger"
                    th:errors="${productDto.companiesDiscount}"
                  ></p>
                </div>

                <div>
                  <label for="regularDiscount">Regular Discount</label>
                  <input
                    type="text"
                    id="regularDiscount"
                    th:field="${productDto.regularDiscount}"
                  />
                  <p
                    th:if="${#fields.hasErrors('regularDiscount')}"
                    class="text-danger"
                    th:errors="${productDto.regularDiscount}"
                  ></p>
                </div>

                <div>
                  <label for="productImage">Image</label>
                  <input
                    type="file"
                    id="productImage"
                    class="form-control-file"
                    th:field="${productDto.imageFile}"
                    accept="image/*"
                  />
                  <p
                    th:if="${#fields.hasErrors('imageFile')}"
                    class="text-danger"
                    th:errors="${productDto.imageFile}"
                  ></p>
                </div>

                <div>
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="/js/adminDashboard.js"></script>
  </body>
</html>
