<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/cart.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <title>In Cart Products</title>
    <script src="https://kit.fontawesome.com/a98ac1f71c.js" crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="header :: header"></div>
    <main>
        <hr>
        <div class="card-container">
            <tr th:each="item : ${Cart}">
                <td>
                    <div class="card">
                        <div class="images">
                            <img th:src="@{'/uploads/'+${item.product.id}+'/'+${item.product.imageFileName}}" />
                        </div>
                        <div class="caption">
                            <p class="product_name" th:text="${item.product.name}"></p>
                            <p class="price" th:text="${item.product.price + '$'}"></p>
                            <a class="remove" th:href="@{'/remove/' + ${item.cart_id}}">Remove</a>
                        </div>
                    </div>
                </td>
            </tr>
            <a class="Add" href="/menu">Add to Cart</a>
        </div>


    </main>
    <div th:replace="footer :: footer"></div>

</body>


</html>