<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link th:href="@{/css/user login.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>

<body>

    <div th:replace="header :: header"></div>

    <div class="container">
        <b>
            <h2>User Login</h2>
        </b>
        <form action="" method="post">
            <input type="hidden" name="type" value="login">

            <input type="text" id="UserUid/UsersName" name="UserUid/UsersName" placeholder="Username / Email" required>
            <input type="password" id="UsersPwd" name="UsersPwd" placeholder="Enter your password" required>

            <b><button type="submit">Login</button></b><br><br>

            <div id="error" class="error" th:text="${error}"></div>
        </form>
    </div>

    <div th:replace="footer :: footer"></div>
</body>

</html>