<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Products - Beauty Products</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet"/>

    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <script th:src="@{js/products.js}"></script>
</head>

<body>
<div th:replace="header :: header"></div>

<div id="menubody" onclick="favorites(event.target)">
    <div class="menu_items" th:each="product : ${products}">
        <img
                height="100%"
                th:src="@{'/images/'+${product.imageFileName}}"
                th:alt="${product.imageFileName}"
                width="100"
                class="menu_img"
        />
        <div class="descr_and_add">
            <img
                    src="user/assets/img/favourite.png"
                    class="favrs"
                    alt=""
                    title="remove from favourite"
            />
            <img
                    src="user/assets/img/love.png"
                    class="favs"
                    alt=""
                    title="add to favourite"
            />
            <img src="user/assets/img/add.png" alt="" class="icons"/>
            <div class="description">
                <span class="names" th:text="${product.name}"> </span>
                <br/>
                <p class="ingred"  th:text="${product.description}" > </p>
                <span class="prices" th:text="${product.price + '$'}"> </span>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>
