<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Beauty Products</title>
    <link th:href="@{/css/products.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <script th:src="@{/js/footer.js}"></script>
</head>

<body>
    <div th:replace="header :: header"></div>

    <div id="menubody" onclick="favorites(event.target)">

        <div class="menu_items">
            <img src="../user/assets/img/image.jpg" alt="" width="100%" height="100%" class="menu_img">
            <div class="descr_and_add">
                <img src="../user/assets/img/favourite.png" class="favrs" alt="" th:title="remove from favourite">
                <img src="../user/assets/img/love.png" class="favs" alt="" th:title="add to favourite">
                <img src="../user/assets/img/add.png" alt="" class="icons">
                <div class="description">
                    <span class="names"> Signal</span><br>
                    <p class="ingred">Our Recommended World Wide Teeth Brushs</p>
                    <span class="prices">Price : 20$</span>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="footer :: footer"></div>
</body>

</html>