<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/register.css}" rel="stylesheet" />
  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
  <title>User Sign Up</title>
  <script src="https://kit.fontawesome.com/a98ac1f71c.js" crossorigin="anonymous"></script>
</head>

<body>
  <div th:replace="header :: header"></div>
  <div class="container">

    <h1>Sign Up Now</h1>
    <form th:action="@{/register}" method="post">
      <input type="hidden" name="type" value="register">

      <input type="text" id="UsersName" name="UsersName" placeholder="Enter your Full Name" size="15"
        th:required="true">
      <input type="email" id="UsersEmail" placeholder="Enter your email" name="UsersEmail" th:required="true">
      <input type="text" id="UsersUid" placeholder="Enter your Username" name="UsersUid" th:required="true">
      <input type="password" name="UsersPwd" id="UsersPwd" placeholder="Enter your Password" th:required="true">
      <input type="password" name="pwdRepeat" id="pwdRepeat" placeholder="Confirm your Password" th:required="true">
      
      <button type="submit">Sign Up</button><br><br>
      <div class="account">
        <div class="aa">
          Already have an account? <a href="user login.php"><b>Login</b></a>
        </div>
      </div>
    </form>
  </div>
  <div th:replace="footer :: footer"></div>
</body>

</html>